:root{
    --dark : #222222;
    --light : #FDFDFD;
    --blue : #C1E1FF;
    --green : #6CFFB0;

    --inter : 'Inter', sans-serif;
    --source-sans : 'Source Sans Pro', sans-serif;
}
*{
    background-color: var(--dark);
    color: var(--light);
    font-family: var(--source-sans);
    font-weight: 400;
}
button{
    cursor: pointer;
}
.logo{
    font-size: 3.5rem;
    font-family: var(--inter);
    margin: 1.5rem;
}
.log-in,.sign-up{
    position: absolute;
    margin: 1rem;
    right: 2rem;
    background-color: var(--blue);
    font-size: 1.25rem;
    color: #222222;
    border-radius: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}
.log-in{
    right: 10.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 19px;

    position: absolute;
    width: 914.85px;
    height: 259px;
    left: calc(50% - 914.85px/2);
    top: 30%;
}
h2{
    width: 914.85px;
    height: 192px;
    margin: 0rem;

    font-size: 85.8283px;
    line-height: 111.7%;
    /* or 96px */
    color: #FDFDFD;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    
}
.landing p{
    width: 873px;
    height: 48px;
    margin: 0rem;

    font-size: 39.761px;
    line-height: 48px;

    color: #FDFDFD;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.text-input textarea{
    position: absolute;
    border-radius: 1.5rem;
    background-color: var(--light);
    color: var(--dark);
    border: 2rem solid var(--light);
    width: 914.85px;
    height: 259px;
    left: calc(50% - 914.85px/2);
    /* left: calc(50% - 1253px/2 - 0.5px); */
    top: 100%;
}

.upload-file{
    position: absolute;
    color: var(--dark);
    height: 30px;
    font-size: large;
    top: 170%;
    left: 40%;
}

#upload{
    position: absolute;
    width: 500px;
    height: 50px;
    font-size: large;
}

.submit{
    position: absolute;
    width: 50px;
    height: 100px;
    font-size: large;
    top: 180%;
    left: 37%;
}

.check{
    position: absolute;
    background-color: var(--green);
    color: var(--dark);
    width: 300px;
    height: 50px;
    font-size: large;
    border-radius: 1.5rem;
}


::placeholder {
    position: absolute;
    align-content: center;
    right: 45%;
    top: 40%;
    font-size: x-large;
}

.footer{
    bottom: 0;
}

